.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #333;
    width: 100vw;
    color: #fff;
  }
  
  .name {
    font-size: 1.2rem;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-left: 1rem;
    cursor: pointer;
  }
  
  /* Responsive Design */
  @media only screen and (max-width: 768px) {
    .name {
      font-size: 1rem;
    }
  
    .icon {
      margin-left: 0.5rem;
    }
  }
  